.hero__offer {
    margin-top: 50px;
    margin-bottom: 105px;
}

.offer__link {
    display: flex;
    justify-content: center;
    position: relative;
    height: 647px;
    border-radius: 3px;
}

.offer__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.40);
    z-index: 1;
}

.hero-title {
    margin: 0;
    top: 143px;
    left: 147px;
    position: absolute;
    color: #FFF;
    font-family: El Messiri;
    font-size: 70px;
    font-weight: 700;
    width: 1288px;
    z-index: 2;
}
.catalogue {
    position: absolute;
    top: 381px;
    left: 147px;
    border-radius: 2px;
    border: 1px solid var(--baden, #3C3A83);
    background: #3C3A83;
    color: #FFF;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    width: 294px;
    height: 72px;
    z-index: 2;
}
.arrow {
    position: absolute;
    top: 293px;
    height: 60px;
    width: 60px;
    border: 1px solid;
    border-radius: 3px;
    background: #fff;
    z-index: 2;
}

.arrow:hover {
    background-color: #272563;
    transition: .5s;
}
.arrow:hover path {
    fill: #d5d5d5;
    stroke: #d5d5d5;
    transition: .5s;
}

.hero__left-arrow {
    left: -27px;
}

.hero__right-arrow {
    right: -30px;
    transform: rotate(180deg);
}

.hero__pagination-row {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 31px;
    bottom: 28px;
    z-index: 1;
}

.hero__pagination-item {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.pagination-1 {
    background-color: #3C3A83;
}
.pagination-2 {
    background-color: #fff;
    opacity: 0.6;
}







.product__category {
    margin-bottom: 110px;
}

.product__category-title {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}

.category-title {
    display: inline-block;
    margin: 0;
    color: #333;
    font-family: El Messiri;
    font-size: 50px;
    font-weight: 600;
    width: 722px;
    flex-shrink: 0;
}
.category-line {
    height: 1px;
    width: 100%;
    margin-left: 75px;
    background-color: #000;
}
.product__image-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}



.product-link {
    height: 350px;
}
.product-link {
    position: relative;
    border-radius: 3px;
    z-index: 0;
}
.product__link-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.40);
}

.product__link-desc {
    position: absolute;
    top: 50%;
    left: 34px;
    transform: translateY(-50%);
    z-index: 3;
    color: #FFF;
    font-family: El Messiri;
    font-size: 35px;
    font-weight: 600;
    width: 200px;
}

.product__down-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.product-button {
    width: 357px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #3C3A83;
    color: #FFF;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
}
.cashback__week,
.popular {
    margin-bottom: 115px;
}


.cashback__week-title {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}

.cashback-title {
    display: inline-block;
    margin: 0;
    color: #333;
    font-family: El Messiri;
    font-size: 50px;
    font-weight: 600;
    width: 345px;
    flex-shrink: 0;
}
.cashback-line {
    height: 1px;
    width: 100%;
    margin-left: 58px;
    background-color: #000;
}

.cashback__row {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.cashback-items {
    width: 400px;
    margin-bottom: 35px;
}

.cashback__down-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cashback-button {
    width: 447px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #3C3A83;
    color: #FFF;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
}

.circle {
    position: absolute;
    width: 55px;
    height: 55px;
    border: 1px solid;
    border-radius: 50%;
    stroke: 1px #333;
    
}
.circle p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.cashback__price-basket {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: #3c3a83;
}

.cashback__item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 72px;
    border-radius: 2px;
    border: 1px solid #939393;
}
.cashback__title-link {
    text-decoration: none;
    color: #939393;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
}
.cashback__item-title:hover .cashback__title-link  {
    color: #4C4ABE;
   
}
.cashback__item-title:hover {
    border: 1px solid #4C4ABE;
}

.cashback__item {
    position: relative;
    height: 546px;
    width: 400px;
    margin-top: 35px;
    border-radius: 3px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.cashback__item-image {
    position: absolute;
    top: -27px;
    left: 21px;
    width: 361px;
    height: 361px;
    z-index: 1;
}

.cashback__item-image img {
    position: absolute;
    top: 40px;
}

.cashback__item-desc {
    position: absolute;
    top: 349px;
    left: 16px;
}

.new {
    top: 226px;
    right: 19px;
    color:#333;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
}

.cash {
    top: 291px;
    right: 19px;
    background: #333;
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.cashback__item-name {
    color: #3C3A83;
    font-family: El Messiri;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cashback__item-subname {
    color:#333;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 13px;
}

.cashback__name-desc {
    color:#333;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
    margin-bottom: 15px;
}

.cashback__price-row {
    display: flex;
    align-items: center;
}

.cashback-price {
    color:#3C3A83;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    margin-right: 28px;
}

.cashback__oldprice {
    color:#333;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.5;
    text-decoration: line-through;
}

.cashback__price-basket {
    position: absolute;
    right: 15px;
    bottom: 20px;
}

.cashback__price-basket img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.cashback__left-arrow {
    left: -29px;
    top: 350px;
}

.cashback__right-arrow {
    right: -28px;
    top: 350px;
    transform: rotate(180deg);
}

.popular-title {
    display: inline-block;
    margin: 0;
    color: #333;
    font-family: El Messiri;
    font-size: 50px;
    font-weight: 600;
    width: 277px;
    flex-shrink: 0;
}

.popular-line {
    height: 1px;
    width: 100%;
    margin-left: 36px;
    background-color: #000;
}