html,
body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-size: 22px;
    line-height: normal;
    color: #333;
}

.header {
    flex: 0 0 auto;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1760px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.row {
    display: flex;
}


.logo {
    display: flex;
    align-items: center;
}

.logo__image {
    width: 189px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 13px;

}

.logo__image img {
    max-width: 100%;
}

.logo__desc {
    font-size: 16px;
    max-width: 179px;
    width: 100%;
}

.header-top {
    padding: 17px 0 13px;
}

.select {
    position: relative;
}

.select__head {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #3C3A83;
    font-weight: 600;
}

.select__head svg {
    height: 15px;
    width: 15px;
    flex-shrink: 0;
    margin-left: 8px;
    transition: .4s;
}

.select__body {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 50;
    display: none;
}

.select:hover .select__body {
    display: block;
}

.select:hover .select__head svg {
    transform: rotate(180deg);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

.main-menu__list {
    display: flex;
}

.main-menu__item+.main-menu__item {
    margin-left: 40px;
}

.main-menu__link {
    text-decoration: none;
    color: #272727;
}


.header-top__row {
    align-items: center;

}

.header__select {
    margin: 0 121px 0 auto;
}

.header-down {
    background-color: #3C3A83;
    color: beige;
}

.header-down__row {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 16px;
}

.menu-left {
    display: flex;
}
.header__burger-menu {
    display: flex;
    background-color: #fff;
    color: #3C3A83;
    padding: 24px 47px 23px 46px;
}
.burger__menu-icon {
    width: 50px;
    height: 28px;
}
.burger__menu-desc {
font-family: Montserrat;
font-size: 25px;
font-weight: 600;
line-height: 100%;
margin-left: 36px;

}

.header-tel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 41px;

}
.header-tel a:first-child {
    font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: #fff;
text-decoration: none;
}

.header-tel a:nth-child(2) {
    color: #fff;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
padding-top: 6px;
padding-bottom: 7px;
}

.header__worktime {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 19px;
padding-top: 10px;
padding-bottom: 9px;
}

.header__worktime-item:first-child {
    margin-bottom: 16px;
}
.menu__items {
    display: flex;
    justify-content: space-between;
    width: 32.2%;
    padding-top: 4px;
    padding-bottom: 5px;

}

.menu-icon img {
    width: 40px;
    height: 40px;
    color: #FFF;
}


.menu-desc {
    color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.5;
}
.menu__items-line {
    height: 63px;
    width: 1px;
    background-color: #eef;
    opacity: 0.5;
}
 .menu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }

 .menu__items-enter {
    position: relative;
 }
 .items-exit {
    position: absolute;
    margin-top: 88px;
    margin-left: 25px;
    flex-shrink: 0;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    color: #3C3A83;
    border-radius: 3px;
    border: 1px solid #CBCACA;
    background-color: #FFF;
    padding: 22px 119px 23px 119px;
    display: none;
 }
 .menu__items-enter:hover .items-exit {
    display: block;
 }



 .footer {
    background-color: #333;
    color: #fff;
 }

 .footer-top {
    border-bottom: 1px solid #fff;
 }

 .footer__menu-item a {
    color: #fff;
    text-decoration: none;
 }

 .menu__contacts-item {
    display: flex;
 }

 .footer__row {
    display: flex;
    justify-content: space-between;
 }
 .footer-pay {
    display: flex;
 }
































.block {
    height: 500px;
    width: 500px;
    background-color: gray;
}