/* ----- INITIALIZAION ----- */

html,
body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-size: 22px;
    line-height: normal;
    color: #333;
}

.header {
    flex: 0 0 auto;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}


/* ----- H E A D E R ----- */

.headerMobile {
    display: none;
}

.container {
    max-width: 1760px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.row {
    display: flex;
}


.logo {
    display: flex;
    align-items: center;
}

.logo__image {
    width: 189px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 13px;

}

.logo__image img {
    max-width: 100%;
}

.logo__desc {
    font-size: 16px;
    max-width: 179px;
    width: 100%;
}

.header-top {
    padding: 17px 0 13px;
}

.select {
    position: relative;
}

.select__head {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #3C3A83;
    font-weight: 600;
}

.select__head svg {
    height: 15px;
    width: 15px;
    flex-shrink: 0;
    margin-left: 8px;
    transition: .4s;
}

.select__town {
    position: absolute;
    top: 100%;
    padding: 12px 18px 56px 14px;
    box-sizing: border-box;
    z-index: 3;
    background-color: #fff;
    display: none;
}

.select__town-menu {
    background-color: #fff;
    width: 863px;
    top: 100%;
    left: -20px;
    padding: 35px 26px;
    box-sizing: border-box;
    fill: #FFF;
    filter: drop-shadow(2px 4px 16px rgba(8, 12, 23, 0.14));
}

.select:hover .select__town {
    display: block;
}

.select:hover .select__head svg {
    transform: rotate(180deg);
}

.town__menu-title {
    color: #3C3A83;
    text-align: center;
    font-family: El Messiri;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.town__menu-exit{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 39px;
    height: 39px;
}

.town__menu-input {
    width: 810px;
    padding: 0 50px;
    box-sizing: border-box;
    
    background: #FFF;
   
    border: none;
}

.town__menu-holder {
    display: flex;
    
    border-radius: 2px;
    border: 1px solid #3C3A83;
    margin-bottom: 21px;
    padding: 6px 0; 
}
.town__menu-find {
    display: flex;
    align-items: center;
}
.menu__find-line {
    width: 1px;
    height: 63px;
    opacity: 0.5;
    background: #3C3A83;
}

.menu__find-image {
    margin-left: 26px;
    margin-right: 19px;
}

.town__menu-input::placeholder {
    color: #939393;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
}

.town__menu-input {
    outline: none;
    font-size: 20px;
}
.town__find-btn {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
.town__menu-list li:first-child {
    margin-bottom: 5px;
}

.town__menu-list li:nth-child(2){
    margin-bottom: 10px;
}


.select__option {
    color: #3C3A83;
    font-family: Montserrat;
    font-size: 22px;
    line-height: 40px;
    font-weight: 400;
    cursor: pointer;
}

.large-font {
    color: #3C3A83;
    font-family: Spectral;
    font-size: 30px;
    font-weight: 600;
}

.small-font + .small-font {
    margin-top: 15px;
}

.town__menu-down {
    text-align: center;
}
.town__menu-btn {
    color: #FFF;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    width: 250px;
    height: 72px;
    border: none;
    border-radius: 2px;
    background: #3C3A83;
    margin-top: 21px;
    cursor: pointer;
}



.main-menu__list {
    display: flex;
}

.main-menu__item+.main-menu__item {
    margin-left: 40px;
}

.main-menu__listDown {
    margin-left: 40px;
}

.main-menu__link {
    text-decoration: none;
    color: #272727;
}


.header-top__row {
    align-items: center;

}

.header__select {
    margin: 0 121px 0 auto;
}

.header-down {
    background-color: #3C3A83;
    color: beige;
}

.header-down__row {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 16px;
}

.menu-left {
    display: flex;
}
.header__burger-menu {
    display: flex;
    background-color: #fff;
    color: #3C3A83;
    padding: 24px 47px 23px 46px;
}
.burger__menu-icon {
    width: 50px;
    height: 28px;
}
.burger__menu-desc {
    margin-left: 36px;
}

.burger__menu-desc a {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    line-height: 100%;
    color: #3C3A83;
}

.header-tel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 41px;

}
.header-tel a:first-child {
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    text-decoration: none;
}

.header-tel a:nth-child(2) {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    padding-top: 6px;
    padding-bottom: 7px;
}

.header__worktime {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    opacity: 0.5;
    font-weight: 400;
    line-height: normal;
    margin-left: 19px;
    padding-top: 10px;
    padding-bottom: 9px;
}

.header__worktime-item:first-child {
    margin-bottom: 16px;
}
.menu__items {
    display: flex;
    justify-content: space-between;
    width: 32.2%;
    padding-top: 4px;
    padding-bottom: 5px;

}

.menu-icon img {
    width: 40px;
    height: 40px;
    color: #FFF;
}


.menu-desc {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}

.menu__items-line {
    height: 63px;
    width: 1px;
    background-color: #eef;
    opacity: 0.5;
}

 .menu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }

 .menu__items-enter {
    position: relative;
    background-color: #3C3A83;
    border: none;
    cursor: pointer;
 }


 .items-exit {
    position: absolute;
    margin-top: 65px;
    margin-left: 25px;
    flex-shrink: 0;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    color: #3C3A83;
    background-color: #CBCACA;
    border-radius: 3px;
    text-decoration: none;
    display: none;
    z-index: 2;
 }

 .items__exit-top {
    background-color: #3C3A83;
    width: 100%;
    height: 21px;
 }
 .items__exit-section {
    padding: 22px 119px 23px 119px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #CBCACA;
 }
 .menu__items-enter:hover .items-exit {
    display: block;
 }
 .items__exit-section:hover {
    display: block;
 }

 

/* ----- M A I N ----- */


 .hero__offer {
    position: relative;
    margin-top: 50px;
    margin-bottom: 105px;
}

.hero__offer-section {
    height: 647px;
    border-radius: 3px;
}

.hero__offer-section img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-title {
    margin: 0;
    top: 143px;
    left: 147px;
    position: absolute;
    color: #FFF;
    font-family: El Messiri;
    font-size: 70px;
    font-weight: 700;
    width: 1288px;
    z-index: 2;
}
.catalogue__btn {
    position: absolute;
    top: 381px;
    left: 147px;
    border-radius: 2px;
    border: 1px solid #3C3A83;
    background: #3C3A83;
    color: #FFF;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    width: 294px;
    height: 72px;
    z-index: 2;
}

.btn__hover {
    border: none;
}
.btn__hover:hover {
    background-color: #4C4ABE;
    transition: .4s;
}
.arrow {
    position: absolute;
    height: 60px;
    width: 60px;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 3px;
    background: #fff;
    z-index: 2;
}

.arrow:hover {
    background-color: #272563;
    transition: .4s;
}
.arrow:hover path {
    fill: #d5d5d5;
    stroke: #d5d5d5;
    transition: .4s;
}

.hero__left-arrow {
    left: -27px;
}

.hero__right-arrow {
    right: -30px;
    transform: rotate(180deg);
}

.hero__pagination-row {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 31px;
    left:50%;
    
    bottom: 28px;
    z-index: 1;
}

.hero__pagination-item {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.pagination-1 {
    background-color: #3C3A83;
}
.pagination-2 {
    background-color: #fff;
    opacity: 0.6;
}

.hero__offer {
    margin-top: 50px;
    margin-bottom: 105px;
}

.offer__link {
    display: flex;
    justify-content: center;
    position: relative;
    height: 647px;
    border-radius: 3px;
}

.offer__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.40);
    z-index: 1;
}
.offer__link:hover:before {
    opacity: 0;
    transition: .4s;
}

.hero-title {
    margin: 0;
    top: 143px;
    left: 147px;
    position: absolute;
    color: #FFF;
    font-family: El Messiri;
    font-size: 70px;
    font-weight: 700;
    width: 1288px;
    z-index: 2;
}
.catalogue {
    position: absolute;
    top: 381px;
    left: 147px;
    border-radius: 2px;
    border: 1px solid #3C3A83;
    background: #3C3A83;
    color: #FFF;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    width: 294px;
    height: 72px;
    z-index: 2;
}
.arrow {
    position: absolute;
    top: 293px;
    height: 60px;
    width: 60px;
    border: 1px solid;
    border-radius: 3px;
    background: #fff;
    z-index: 2;
}

.arrow:hover {
    background-color: #272563;
    transition: .5s;
}
.arrow:hover path {
    fill: #d5d5d5;
    stroke: #d5d5d5;
    transition: .5s;
}

.hero__left-arrow {
    left: -27px;
}

.hero__right-arrow {
    right: -30px;
    transform: rotate(180deg);
}

.hero__pagination-row {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 31px;
    bottom: 28px;
    transform: translateX(-50%);
    z-index: 1;
}

.hero__pagination-item {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.pagination-1 {
    background-color: #3C3A83;
}
.pagination-2 {
    background-color: #fff;
    opacity: 0.6;
}

.product__category {
    margin-bottom: 110px;
}

.product__category-title {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}

.category-title {
    display: inline-block;
    margin: 0;
    color: #333;
    font-family: El Messiri;
    font-size: 50px;
    font-weight: 600;
    width: 722px;
    flex-shrink: 0;
}
.category-line {
    height: 1px;
    width: 100%;
    margin-left: 75px;
    background-color: #000;
}
.product__image-row {
    display: flex;
    margin-bottom: 35px;
    margin-left: -20px;
    margin-right: -20px;
}

.product__image-item {
    width: 25%;
}
.product__image-container {
    padding: 0 20px;
}
.product__image-picture {
    height: 350px;
    position: relative;
    border-radius: 3px;
}
.product__image-picture img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.6);
}
.product__image-picture:hover img {
    filter: brightness(1);
    transition: .4s;
}

.product__link-desc {
    position: absolute;
    top: 50%;
    left: 34px;
    transform: translateY(-50%);
    z-index: 1;
    color: #FFF;
    font-family: El Messiri;
    font-size: 35px;
    font-weight: 600;
    max-width: 200px;
}

.product__down-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.product-button {
    width: 357px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #3C3A83;
    color: #FFF;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
}
.cashback__week,
.popular {
    margin-bottom: 115px;
}


.cashback__week-title {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}

.cashback-title {
    display: inline-block;
    margin: 0;
    color: #333;
    font-family: El Messiri;
    font-size: 50px;
    font-weight: 600;
    width: 345px;
    flex-shrink: 0;
}
.cashback-line {
    height: 1px;
    width: 100%;
    margin-left: 58px;
    background-color: #000;
}

.cashback__row {
    display: flex;
    margin-bottom: 35px;
    margin-left: -20px;
    margin-right: -20px;
}
.cashback-items {
    width: 25%;
    padding: 0 20px;
}

.cashback__down-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cashback-button {
    width: 447px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #3C3A83;
    color: #FFF;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
}

.circle {
    position: absolute;
    width: 55px;
    height: 55px;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 50%;
    stroke: 1px #333;
    
}
.circle p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.cashback__price-basket {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: #3c3a83;
}

.cashback__item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    border-radius: 2px;
    border: 1px solid #939393;
    box-sizing: border-box;
}
.cashback__title-link {
    text-decoration: none;
    color: #939393;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.cashback__item-title:hover .cashback__title-link  {
    color: #4C4ABE;
   
}
.cashback__item-title:hover {
    border: 1px solid #4C4ABE;
}

.cashback__item {
    position: relative;
    height: 546px;
    width: 400px;
    margin-top: 35px;
    border-radius: 3px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

/* .cashback__item-image {
    position: absolute;
    top: -27px;
    left: 21px;
    width: 361px;
    height: 361px;
    z-index: 1;
} */

/* .cashback__item-image img {
    position: absolute;
    top: 40px;
} */

.cashback__item-desc {
    position: absolute;
    top: 349px;
    left: 16px;
}

.new {
    top: 226px;
    right: 19px;
    color:#333;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
}

.cash-circle {
    top: 291px;
    right: 19px;
    background: #333;
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.cashback__item-name {
    color: #3C3A83;
    font-family: El Messiri;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 2px;
    text-decoration: none;
}

.cashback__item-subname {
    color:#333;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 13px;
}

.cashback__name-desc {
    color:#333;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
    margin-bottom: 15px;
}

.cashback__price-row {
    display: flex;
    align-items: center;
}

.cashback-price {
    color:#3C3A83;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    margin-right: 28px;
}

.cashback__oldprice {
    color:#333;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.5;
    text-decoration: line-through;
}

.cashback__price-basket {
    position: absolute;
    right: 15px;
    bottom: 20px;
}

.cashback__price-basket img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.cashback__left-arrow {
    left: -29px;
    top: 350px;
}

.cashback__right-arrow {
    right: -28px;
    top: 350px;
    transform: rotate(180deg);
}

.popular-title {
    display: inline-block;
    margin: 0;
    color: #333;
    font-family: El Messiri;
    font-size: 50px;
    font-weight: 600;
    width: 277px;
    flex-shrink: 0;
}

.popular-line {
    height: 1px;
    width: 100%;
    margin-left: 36px;
    background-color: #000;
}


/* ----- C A R D ----- */

.prod__card-row {
    position: relative;
    display: flex;
    margin: 0 -20px;
    margin-bottom: 35px;
  }
  .prod__card-section {
    width: 33.3%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 27px;
  }
  .prod__card-container {
    padding: 0 15px 20px 21px;
    border-radius: 3px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .prod__card-image {
    position: relative;
    margin-top: -27px;
    margin-bottom: 18px;
    margin-right: 3px;
    height: 361px;
  }
  .prod__card-image img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: bottom;
  }
  .prod__card-new {
    top: 226px;
    right: 19px;
    color: #333;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
  }
  .prod__card-cash {
    top: 291px;
    right: 19px;
    background: #333;
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
  }
  .prod__card-description a {
    text-decoration: none;
  }
  .prod__card-title {
    color: #3C3A83;
    font-family: El Messiri;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 2px;
  }
  .prod__card-subtitle {
    color: #333;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 13px;
  }
  .prod__card-desc {
    color: rgba(51, 51, 51, 0.5);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
  }
  .prod__card-bottommenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .prod__card-price {
    display: flex;
    align-items: center;
  }
  .prod__card-newprice {
    color: #3C3A83;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    margin-right: 28px;
  }
  .prod__card-oldprice {
    color: #333;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through 1px;
  }
  .prod__card-basketRow {
    display: flex;
    justify-content: flex-end;
  }
  .prod__card-basket {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: #3C3A83;
    box-shadow: 4px 4px 10px 0px rgba(62, 62, 62, 0.1);
  }
  .prod__card-leftArrow {
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
  }
  .prod__card-rightArrow {
    right: -8px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
  }
  


/* ----- C A T A L O G ----- */




.left__sidebar {
    margin-right: 20px;
}
.left__sidebar-desc {
    display: flex;
    /* margin-top: 30px; */
    margin-bottom: 35px;
}
.left__desc-title {
    color:#333;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    margin-left: 2px;
}

.left__sidebar-desc img {
    margin-left: 10px;
    margin-right: 13px;
}
.left__desc-text,
.content-link,
.find__product {
    color:#939393;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}

.find__product {
    margin-top: 4px;
    margin-bottom: 26px;
    margin-left: 15px;
}

.left__sidebar-list {
    /* width: 400px ; */
    padding: 10px 10px 25px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid#CBCACA;
    background: #FFF;
    margin-bottom: 25px;
}
.list__item-title {
    display: flex;
    align-items: center;
    color: #333;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
}

.list__item-title {
    margin-top: 15px;
}

.list__item-content {
    display: none;
    margin-left: 30px;
}

.list__item-title img {
    margin-right: 10px;
    width: 17px;
    height: 17px;
}
.list__item-title:hover ~ .list__item-content {
    display: block;
}
.list__item-content:hover {
    display: block;
}

.content-link {
    text-decoration: none;
}


.left__sidebar-filter {
    /* width: 400px; */
    border-radius: 5px;
    border: 1px solid #CBCACA;
    background: #FFF;
    padding: 25px 15px;
    box-sizing: border-box;
}

.filter--text {
    color: #3C3A83;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.limits--box {
    width: 110px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #939393;
    padding: 8px 12px;
    box-sizing: border-box;
}

.limit--text {
    color: #3C3A83;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
}
.price__checkbox-desc {
    color:#4C4ABE;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
}

.size__select {
    margin-bottom: 15px;
}

.size__select input {
    appearance: none;
    width: 305px;
    height: 3px;
    background-color: #3c3a83;
    outline: none;
}
.size__select input::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #3C3A83;
    cursor: pointer;
}

.filter--desc {
    color: #939393;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
}

.size__text-desc {
    margin-bottom: 15px;
}

.limits--text {
    width: 84%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #939393;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-bottom: 10px;
}

.checkbox__row {
    display: flex;
    margin-bottom: 25px;
}

input[type="checkbox"] {
    display: none;
}

.checkbox--label {
    display: flex;
    align-items: center;
}

.checkbox__square {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #4C4ABE;
    margin-right: 11px;
}

.checkbox__square::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    display: inline-block;
    width: 27px;
    height: 27px;
    border-radius: 3px;
    background-color:  #4C4ABE;
    opacity: 0;
}


input[type="checkbox"]:checked + .checkbox--label span::before {
    opacity: 1;
}

.color__row {
    display: flex;    
}
.color__matrix {
    margin-bottom: 25px;
}

.color__row + .color__row {
    margin-top: 13px;
}

.color__row-item {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #939393;
}
.color__row-item + .color__row-item {
    margin-left: 21px;
}

.filters__more {
    padding: 21px 25px;
    border-radius: 2px;
    border: 1px solid #3C3A83;
    background: #FFF;
    margin-bottom: 24px;
}

.filters__products-100 {
    padding: 21px 24px;
    border-radius: 2px;
    background: #3C3A83;
}

.filters__more-title {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    }
.filter--text-white {
    color: #fff;
}
.main__row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.main__section {
    width: 1280px;
    margin-top: 4px;
}
.main__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 50px 0 28px;
    border-radius: 3px;
    border: 1px solid #CBCACA;
    background: #FFF;
    margin-bottom: 35px;
}

.main__filters-upper {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.main__filters-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.main__filters-title {
    color: #333;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    margin-right: 37px;
}
.main__filters-reset {
    color: #939393;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}
.row__item {
    display: flex;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid #3C3A83;
    background: #FFF;
    padding: 5px 10px 4px 10px;
    margin-bottom: 18px;
    margin-right: 12px;
}   
/* .row__item+.row__item {
    margin-left: 12px;
} */

.row__item-title {
    color: #3C3A83;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-top: 2px;
}
.row__item-line {
    width: 1px;
    height: 30px;
    background-color: #C0C0C0;
    margin-left: 12px;
    margin-right: 11px;
}

.filters__right-sort {
    position: relative;
}

.sort__dropdown-menu {
    position: absolute;
    top: 58px;
    padding: 18px 18px 18px 17px;
    border-radius: 3px;
    border: 1px solid #CBCACA;
    background: #FFF;
    z-index: 2;
    display: none;
}

.sort__text:hover ~.sort__dropdown-menu {
    display: block;
}
.sort__dropdown-menu:hover {
    display: block;
}

.sort__menu-item {
    color:#3C3A83;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}
.sort__menu-line {
    width: 164px;
    height: 1px;
    background: #CBCACA;
    margin: 10px 0;
}
.sort-title {
    color: #3C3A83;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    margin-right: 13px;
    line-height: 250%;
}
.sort__text {
    margin-left: 20px;
    display: flex;
}
.left__sidebar-list {
    border: 1px dotted;
}

.catalogue__cards-row {
    display: flex;
    justify-content: space-between;
}

.main__section-down {
    text-align: center;
}
.show__items {
    color: #3C3A83;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    padding: 21px 41px;
    border-radius: 2px;
    border: 1px solid #3C3A83;
    background: #FFF;
    margin-bottom: 55px;
    margin-top: -8px;
}

/* ----- P R O D U C T   C A R D ----- */

.product__card-row {
    margin-top: 30px;
}
.product__card {
    display: flex;
    margin-bottom: 39px;
}

.product__card-image {
    display: flex;
    justify-content: space-between;
    width: 56%;
}

.card-image__left {
    height: 700px;
    position: relative;
}

.card-image__left img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card__new {
    top: 40px;
    right: 19px;
    color:#333;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
}

.card__cash {
    top: 105px;
    right: 19px;
    background: #333;
    color: #FFF;
    border: none;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.card__left-arrow {
    left: -29px;
    top: 50%;
    transform: translateY(-50%);
}

.card__right-arrow {
    right: -28px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}

.card-image__right {
    position: relative;
    width: 150px;
    height: 700px;
    display: flex;
    justify-content: center;
}
.card-image__rightRow {
    height: 700px;
    overflow: hidden;
}
.card-image__right-arrow {
    position: absolute;
    top: calc(100% + 18px);
}
.card-image__right-arrow:hover path{
    fill: #3C3A83;
    transition: .4s;
}
.product__card-line {
    height: 700px;
    width: 1px;
    background-color: #939393;
    margin-right:4%;
}

.product__card-title {
    color: #3C3A83;
    font-family: El Messiri;
    font-size: 50px;
    font-weight: 600;
    margin: 0;
}
.product__card-subtitle {
    color: #939393;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 29px;
}
.product__card-desc {
    max-width: 645px;
    color: #000;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 30px;
}

.product__card-price {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.product__card-priceNew {
    color: #3C3A83;
    font-family: El Messiri;
    font-size: 50px;
    font-weight: 600;
    margin-right: 23px;
}
.product__card-priceOld {
    color: #939393;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    text-decoration: line-through;
}
.product__card-buttons {
    margin-bottom: 57px;
}
.product__card-basket,
.product__card-buy {
    color: #3C3A83;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #3C3A83;
    padding: 21px 34px;
}
.product__card-basket {
    margin-right: 10px;
}
.product__card-basket:hover,
.product__card-buy:hover {
    color: #fff;
    background-color: #3C3A83;
    transition: .4s;
}




.product__card-motion {
    display: flex;
    align-items: center;
}

.product__card-motion + .product__card-motion {
   margin-top: 13px; 
}

.card__motion-image {
    margin-right: 25px;
}
.margin--big img {
    margin-right: 3px;
    margin-left: 3px;
}

.card__motion-desc {
    color: #3C3A83;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;

}
.bold {
    font-weight: 600;
}

.card__spec-title {
    color: #333;
    font-family: El Messiri;
    font-size: 50px;
    font-weight: 600;
}

.card__spec-list {
    width: 47.9%;
}
.spec__list-title {
    color: #333;
    font-family: El Messiri;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 18px;
    margin-top: 30px;
}
.card__list-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 93px;
}
.spec__list-desc,
.spec__list-value {
    color: #333;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    flex-shrink: 0;
}
.spec__list-item {
    display: flex;
    justify-content: space-between;
}
.spec__list-item + .spec__list-item {
    margin-top: 25px;
}  

.spec__list-line {
    width: 72%;
    margin-left: 35px;
    margin-right: 35px;
    border-bottom: 1px solid #ededed;
}
.related__products {
    margin-bottom: 55px;
}
.related__products-title {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}

.related-products-line {
    height: 1px;
    width: 100%;
    margin-left: 65px;
    background-color: #000;
}
.related-title {
    display: inline-block;
    margin: 0;
    color: #333;
    font-family: El Messiri;
    font-size: 50px;
    font-weight: 600;
    flex-shrink: 0;
}
.related__left-arrow {
    left: -29px;
    top: 270px;
}
.related__right-arrow {
    right: -28px;
    top: 270px;
    transform: rotate(180deg);
}

























/* ------ F O O T E R ----- */

  .footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0 20px;
 }

 .footer-top {
    border-bottom: 1px solid rgba(147, 147, 147, 0.5);
    padding-bottom: 30px;
}

.footer__logo {
    display: flex;
    margin-bottom: 2px;
}

.footer__logo-desc {
    margin-top: 16px;
    margin-left: 13px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    width: 75%;
}
 .footer__menu-item a,
 .footer__menu-title a {
    color: #fff;
    text-decoration: none;
 }

 .footer__menu-title {
    font-family: El Messiri;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 18px;
 }

 .footer__menu-item,
 .menu__contacts-item {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
 }


 
 .menu__contacts-item+.menu__contacts-item {
    margin-top: 35px;
 }

 .footer__menu-item+.footer__menu-item {
    margin-top: 22px;
 }


 .menu__contacts-item {
    display: flex;
    text-decoration: none;
 }
 

 .menu__contacts-item img {
    margin-right: 20px;
 }

 .contacts__item-dist {
    margin-left: 3px;
    margin-right: 13px;
 }
 .contacts__item-desc {
    text-decoration: none;
    color: #fff;
 }

 .insta--wrap {
    margin-left: 6px;
 }
 .menu__contact-title {
    margin-bottom: 25px;
 }

 .footer-down {
    padding: 20px 0;
 }

 .footer__row,
 .footer__down-row {
    display: flex;
    justify-content: space-between;
 }
 .footer-pay {
    display: flex;
    justify-content: space-between;
    width: 37%;
    margin-right: 25px;
 }
 .footer__down-item {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    color: rgb(147, 147, 147);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }

 .footer-rights {
    text-decoration: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    margin-top: 21px;
 }

 .footer__down-item img {
    filter: brightness(50%);
}


/* ----- M O B I L E ---- */

.headerMobile {
    background-color: #3C3A83;
}

.headerMobile__row {
    justify-content: space-between;
}
.headerMobile__left-section {
    align-items: center;
}

.headerMobile__catalog-icon {
    height: 40px;
    margin-right: 50px;
}

.headerMobile__catalog-icon img {
    height: 100%;
    width: 100%;
}

.headerMobile__right-section {
    align-items: center;
}
.headerMobile__rightSection-icon {
    margin-right: 40px;
}
.headerMobile__rightSection-button {
    background-color: #3C3A83;
    border: none;
    cursor: pointer;
}





@media (max-width: 1720px) {
    .main-menu__list {
        display: block;

    }
    .main-menu__listDown {
        margin-left: 0;
    }
    .main-menu__listUp .main-menu__item:last-child {
        margin-left: 111px;
    }
}

@media (max-width: 1530px) {
    .prod__card-desc {
      margin-bottom: 15px;
    }
    .prod__card-price {
      display: block;
    }
    .prod__card-oldprice {
      margin-bottom: auto;
    }
}


@media (max-width: 1440px) {
    .footer__row {
        flex-direction: column;
    }
    .footer__logo {
        margin-bottom: 20px;
    }
    .footer-menu {
       width: 100%;
    }
    .footer-pay {
        width: 45%;
    }
    .footer-rights {
        max-width: 300px;
    }
}

@media (max-width: 1320px) {
    .prod__card-section {
      padding: 0 15px;
    }
    .prod__card-row {
      margin-left: -15px;
      margin-right: -15px;
    }
    .prod__card-subtitle {
      font-size: 20px;
    }
    .cashback-items {
      padding: 0 15px;
    }
    .cashback__row {
      margin-left: -15px;
      margin-right: -15px;
    }
    .product__image-container {
      padding: 0 15px;
    }
    .product__image-row {
      margin-left: -15px;
      margin-right: -15px;
    }
}

@media (max-width: 1280px) {
    .footer-pay {
        width: 52%;
    }
    .header__select {
        margin-right: 100px;
    }
    .menu__items {
        width: 27%;
    }
}


@media (max-width: 1276px) {
    .header-top,
    .header-down {
        display: none;
    }
    .headerMobile {
        display: block;
    }
    .hero-title {
        max-width: 750px;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
    }
    .catalogue__btn {
        top: 500px;
        left: 28%;
        transform: translateX(-50%);
    }
    .product__link-desc {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .prod__card-subtitle {
        font-size: 16px;
    }
    .prod__card-newprice {
        font-size: 22px;
    }
    .prod__card-basket {
        width: 50px;
        height: 50px;
    }
    .prod__card-basket img {
        height: 100%;
        width: 100%;
    }
    .prod__card-image {
        height: 238px;
    }
    .prod__card-leftArrow,
    .prod__card-rightArrow {
        top: 40%;
    }
    .prod__card-new,
    .prod__card-cash {
        right: 0;
    }
    .cashback__title-link {
        font-size: 20px;
    }
    .prod__card-newprice {
        margin-right: 0;
    }
    .prod__card-title a {
        font-size: 30px;
    }
}

@media (max-width: 1080px) {
    .footer-pay {
        width: 58%;
    }
    .menu__contacts-item {
        width: 327px;
        flex-wrap: wrap;
    }
    .desc--wrap {
        margin-left: 50px;
    } 
}

@media (max-width: 992px) {
    .hero__offer {
        margin: 0 -20px 40px -20px;
    }
    .hero-title {
        max-width: 640px;
        color: #333;
        font-size: 50px;
    }
    .catalogue__btn {
        top: 435px;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        height: 75px;
        font-size: 24px;
    }
    .offer__link::before {
        display: none;
    }
    /* .product__image-picture img {
        filter: none;
    } */
    .hero__pagination-row {
        bottom: 40px;
    }

    .hero__left-arrow {
        left: 35%;
        top: 572px;
    }
    
    .hero__right-arrow {
        right: 35%;
        top: 572px;
    }
    .category-line {
        display: none;
    }
    .product__image-row {
        flex-wrap: wrap;
    }
    .product__image-item {
        width: 50%;
    }
    .product__image-item + .product__image-item + .product__image-item{
        margin-top: 20px;
    }
    .product-button,
    .cashback-button {
        width: 400px;
        height: 75px;
        font-size: 24px;
    }
    .cashback-line {
        display: none;

    }

    .cashback__row {
        flex-wrap: wrap;
    }
    .cashback-items {
        padding: 0 15px;
        box-sizing: border-box;
        width: 50%;
    }
    .cashback-items+.cashback-items+.cashback-items {
        margin-top: 20px;
    }

    .prod__card-row {
        flex-wrap: wrap;
    }
    .prod__card-section {
        width: 50%;
    }
    .prod__card-section+.prod__card-section+.prod__card-section {
        margin-top: 47px;
    }

    .prod__card-leftArrow,
    .prod__card-rightArrow {
        position: static;
        margin-top: 50px;
    }
    .prod__card-leftArrow {
        margin-right: 40px;
    }
    .prod__card-buttons {
        width: 100%;
        height: 60px;
        text-align: center;
    }
    .row__margin--bottom {
        margin-bottom: -50px;
    }

    .arrow--none {
        display: none;
    }

    .footer-menu {
        flex-wrap: wrap;
    }
    .footer__menu-items {
        width: 50%;
    }
    .menu-contacts {
        margin-top: 40px;
    }
    .footer__down-row {
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer-rights {
        max-width: 100%;
        text-align: center;
    }
    .cashback__week, .popular {
        margin-bottom: 40px;
    }



    .service__offer {
        position: relative;
        margin-top: 50px;
        margin-left: -20px;
        margin-right: -20px;
    }
    
    .service__offer-section {
        height: 647px;
        border-radius: 3px;
    }
    
    .service__offer-section img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(.6);
    }
    
    .service-title {
        margin: 0;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        width: 700px;
        position: absolute;
        color: #FFF;
        font-family: El Messiri;
        font-size: 70px;
        font-weight: 700;
        z-index: 2;
        text-align: center;
    }
    .service__btn {
        position: absolute;
        top: 500px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 2px;
        border: 1px solid #3C3A83;
        background: #3C3A83;
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        width: 400px;
        height: 75px;
        z-index: 2;
    }
    .service__desc {
        position: absolute;
        width: 60%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        color: #FFF;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 400;
        z-index: 2;
        text-align: center;
    }
    .service__desc-text:last-child {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 480px;
        margin-top: 18px;
    }
    .service__desc span {
        font-weight: 600;
    }

}















