.left__sidebar-desc {
    display: flex;
    margin-bottom: 30px;
}
.left__desc-title {
    color:#333;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    margin-left: 2px;
}

.left__sidebar-desc img {
    margin-left: 10px;
    margin-right: 13px;
}
.left__desc-text,
.content-link,
.find__product {
    color:#939393;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}

.find__product {
    margin-bottom: 26px;
    margin-left: 15px;
}

.left__sidebar-list {
    width: 400px;
    padding: 10px 10px 25px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid#CBCACA;
    background: #FFF;
    margin-bottom: 25px;
}
.list__item-title {
    display: flex;
    align-items: center;
    color: #333;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    filter:grayscale();
}

.list__item-title {
    margin-top: 15px;
}

.list__item-content {
    display: none;
    margin-left: 30px;
}

.list__item-title img {
    margin-right: 10px;
    width: 17px;
    height: 17px;
}
.list__item-title:hover ~ .list__item-content {
    display: block;
}
.list__item-content:hover {
    display: block;
}

.content-link {
    text-decoration: none;
}


.left__sidebar-filter {
    width: 400px;
    border-radius: 5px;
    border: 1px solid #CBCACA;
    background: #FFF;
    padding: 25px 15px;
    box-sizing: border-box;
}

.filter--text {
    color: #3C3A83;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.limits--box {
    width: 110px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #939393;
    padding: 8px 12px;
    box-sizing: border-box;
}

.limit--text {
    color: #3C3A83;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
}
.price__checkbox-desc {
    color:#4C4ABE;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
}

.size__select {
    margin-bottom: 15px;
}

.size__select input {
    appearance: none;
    width: 305px;
    height: 3px;
    background-color: #3c3a83;
    outline: none;
}
.size__select input::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #3C3A83;
    cursor: pointer;
}

.filter--desc {
    color: #939393;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
}

.size__text-desc {
    margin-bottom: 15px;
}

.limits--text {
    width: 84%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #939393;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-bottom: 10px;
}

.checkbox__row {
    display: flex;
    margin-bottom: 25px;
}

input[type="checkbox"] {
    display: none;
}

.checkbox--label {
    display: flex;
    align-items: center;
}

.checkbox__square {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #4C4ABE;
    margin-right: 11px;
}

.checkbox__square::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    display: inline-block;
    width: 27px;
    height: 27px;
    border-radius: 3px;
    background-color:  #4C4ABE;
    opacity: 0;
}


input[type="checkbox"]:checked + .checkbox--label span::before {
    opacity: 1;
}

.color__row {
    display: flex;    
}
.color__matrix {
    margin-bottom: 25px;
}

.color__row + .color__row {
    margin-top: 13px;
}

.color__row-item {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #939393;
}
.color__row-item + .color__row-item {
    margin-left: 21px;
}

.filters__more {
    padding: 21px 25px;
    border-radius: 2px;
    border: 1px solid #3C3A83;
    background: #FFF;
    margin-bottom: 24px;
}

.filters__products-100 {
    padding: 21px 24px;
    border-radius: 2px;
    background: #3C3A83;
}

.filters__more-title {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    }
.filter--text-white {
    color: #fff;
}
.main__row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.main__section {
    width: 1280px;
    margin-top: 4px;
}
.main__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 50px 18px 28px;
    border-radius: 3px;
    border: 1px solid #CBCACA;
    background: #FFF;
}

.main__filters-upper {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.main__filters-row {
    display: flex;
}
.main__filters-title {
    color: #333;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    margin-right: 37px;
}
.main__filters-reset {
    color: #939393;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}
.row__item {
    display: flex;
    border-radius: 3px;
    border: 1px solid #3C3A83;
    background: #FFF;
    padding: 5px 10px 4px 10px;
}
.row__item+.row__item {
    margin-left: 12px;
}

.row__item-title {
    color: #3C3A83;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-top: 2px;
}
.row__item-line {
    width: 1px;
    height: 30px;
    background-color: #C0C0C0;
    margin-left: 12px;
    margin-right: 11px;
}

.filters__right-sort {
    position: relative;
}

.sort__dropdown-menu {
    position: absolute;
    top: 58px;
    padding: 18px 18px 18px 17px;
    border-radius: 3px;
    border: 1px solid #CBCACA;
    background: #FFF;
    z-index: 2;
    display: none;
}

.sort__text:hover ~.sort__dropdown-menu {
    display: block;
}
.sort__dropdown-menu:hover {
    display: block;
}

.sort__menu-item {
    color:#3C3A83;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}
.sort__menu-line {
    width: 164px;
    height: 1px;
    background: #CBCACA;
    margin: 10px 0;
}
.sort-title {
    color: #3C3A83;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    margin-right: 13px;
    line-height: 250%;
}
.sort__text {
    display: flex;
}
.left__sidebar-list {
    border: 1px dotted;
}

.catalogue__cards-row {
    display: flex;
    justify-content: space-between;
}

.main__section-down {
    text-align: center;
}
.show__items {
    color: #3C3A83;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    padding: 21px 41px;
    border-radius: 2px;
    border: 1px solid #3C3A83;
    background: #FFF;
    margin-bottom: 55px;
    margin-top: -8px;
}

