.prod__card-row {
    display: flex;
    margin: 0 -20px;
}
.prod__card-section {
    width: 25%;
    padding: 0 20px;
    box-sizing: border-box;
}

.prod__card-container {
    padding: 0 15px 20px 21px;
    border-radius: 3px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.10);

}
.prod__card-image {
    margin-top: -27px;
    margin-bottom: 18px;
    margin-right: 3px;
    & img {
        width: 100%;
        background-position: top center;
    }
}
.prod__card {
    &-title {
        color: #3C3A83;
        font-family: El Messiri;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 2px;
        text-decoration: none;
    }

    &-subtitle {
        color: #333;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 13px;
    }

    &-desc {
        color: rgba(#333, 0.5);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 15px;
    }

    &-bottommenu {
        display: flex;
        justify-content: space-between;
    }

    &-pricerow {
        display: flex;
        align-items: center;
    }
    &-newprice {
        color: #3C3A83;
        font-family: Montserrat;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        margin-right: 28px;
    }

    &-oldprice {
        color: #333;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        text-decoration: line-through 1px;
    }

    &-basketRow {
        display: flex;
        justify-content: flex-end;
    }

    &-basket {
        width: 60px;
        height: 60px;
        border-radius: 5px;
        background: #3C3A83;
        box-shadow: 4px 4px 10px 0px rgba(62, 62, 62, 0.10);
        
    }
}

@media (max-width: 1530px) {
    .prod__card-bottommenu {
        display: block;
    }
    .prod__card-pricerow {
        margin-bottom: 15px;
    }

}
